.people {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

.people li {
        display: table-cell;
	width: auto;
        text-align: center;
        border: solid;
        border-width: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
}

img {
	object-fit: cover;
	width: 15vw;
	height: 15vw;
}

h2 {
	text-align: center;
}

.bg1{
        background: linear-gradient(rgb(0,0,0,0.35),rgb(0,0,0,0.35)), url("../images/Springboro_HS_Springboro_OH_USA.jfif");
        background-position: center;
}
