body {
	width: 100vw;
	font-family: Garamond;
	margin: 0px;
	color: black;
}

.front {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.title {
	width: 100vw;
	height: 12vh;
	position: fixed;
	border: solid;
	border-width: 0px;
	line-height: 7.2vh;
	z-index: 10;	
}

header h1 {
	text-align: center;
	margin-top: 2.5vh;
	margin-bottom: 0px;
	padding-bottom: 1vh;
	height: 7vh;
	font-size: 30px;
	border-bottom: 1px solid;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.nav {
	width: 100vw;
	margin-top: 0;
	padding: 0;
	display: table;
	position: fixed;
	table-layout: fixed;
	margin-bottom: 0px;
	z-index: 10;
}
a {
    color: black;
    text-decoration: none;
}
.nav li {
	display: table-cell;
	width: auto;
	text-align: center;
	border: solid;
	border-width: 0px;
	padding-top: 3vh;
	padding-bottom: 2.5vh;
	margin-bottom: 1.5vh;
	line-height: 1.5em;
	border-bottom: 1px solid;
}

.nav li:hover {
	background-color: LightSteelBlue;
	cursor: pointer;
}
.bg1 {
	position: absolute;
	margin-top: 0px;
	width: 100%;
	height: 100vh;
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bg2 {
	position: absolute;
	margin-top: 100vh;
	width: 100%;
	height: 100vh;
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bg3 {
	position: absolute;
	margin-top: 200vh;
	width: 100%;
	height: 100vh;
	background-image: url("../images/bg3.webp");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.t {
	position: absolute;
	color: white;  
	margin-left: 50vw;
	transform: translate(-50%, -50%);
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;  
}

.scrollUp {
	background-color: transparent;
	border: 0;
	z-index: 200;
	position: fixed;
	background-image: url("../images/arrowbetter.png");
	background-size: cover;
	background-position: center center;
	transform: translate(-50%,-50%);
	left: 97vw;
	top: 95vh;
	width: 55px;
	height: 55px;
	opacity: 0;
	margin: 0;
}

.scrollUp:hover {
	opacity: 100%;
}
footer {
	position: absolute;
	top: 300vh;
	background-color: black;
	width: 100%;
	height: 100px;
}

footer a {
	text-decoration: none;
	color: white;
}

footer li {
	width: 100%;
	text-align: center;
}

footer ul {
	margin: 16px 0 0 0;
}

footer p {
	margin: 8px 0 0 0;
}

.button {
	position: absolute;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}
