.proj1{grid-area: proj1; height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/naturalogo.png'); background-size: cover; background-position: center;}
.proj1:hover{ height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/naturalogo.png'); background-size: cover; background-position: center; }
.proj2{ grid-area: proj2; height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/climatechangechamp.jpg'); background-size: cover; background-position: center;}
.proj2:hover{height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/climatechangechamp.jpg'); background-size: cover; background-position: center;}
.proj3{ grid-area: proj3; height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/waterCRAFT.jpg'); background-size: cover; background-position: center;}
.proj3:hover{ height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/waterCRAFT.jpg'); background-size: cover; background-position: center;}
.proj4{ grid-area: proj4; height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/unclimate.png'); background-size: cover; background-position: center;}
.proj4:hover{ height: 500px; background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/unclimate.png'); background-size: cover; background-position: center;}


.grid-container{
    display: grid;
    grid-template-areas: 
        'proj1 proj2'
        'proj3 proj4'
    ;
    grid-gap: 3vw;
    padding: 5vh 5vw 5vh 5vw;
}

h3, h4, p{
    color:white;
    margin: 10px 1vw 10px 1vw;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

h3{
    padding-top: 1vh;
    font-size: 18pt;
}

p{
    margin-bottom: 0px;
    transform: translateY(0px);
    font-size: 14pt;
}

.citationproj1{
    margin-left: 10px;
    position: absolute;
    bottom: 50%;
    width: 600px;
}

.citationproj2{
    margin-left: 10px;
    position: absolute;
    bottom: 5%;
    width: 600px;
}
