body {
	width: 100vw;
	font-family: Garamond;
	margin: 0px;
}

.title {
	width: 100vw;
	height: 12vh;
	position: fixed;
	border: solid;
	border-width: 1px;
	line-height: 7.2vh;
	z-index: 10;
	background-color: white;
}

header h1 {
	text-align: center;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	height: 7vh;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

ul {
	width: 100vw;
	padding: 0;
	margin-top: calc(12vh + 1px);
	display: table;
	position: fixed;
	table-layout: fixed;
	margin-bottom: 0px;
	z-index: 10;
	background-color: white;
}
a {
        color: black;
        text-decoration: none;
}
ul li {
	display: table-cell;
	width: auto;
	text-align: center;
	border: solid;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg1 {
	position: absolute;
	margin-top: calc(12vh + 42px);
	width: 99.42vw;
	height: 80vh;
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

img {
	width: 100vw;
}
